<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>About Us</h3>
        <p>Luminate Web Solutions is a leading digital agency offering a variety of services, including web development, digital marketing, and SEO solutions. With a commitment to innovation and client satisfaction.</p>
      </div>
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/solutions">Solutions</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Contact Info</h3>
        <p>
          <mat-icon>location_on</mat-icon> Hyderabad, Telangana, India
        </p>
        <p>
          <mat-icon>phone</mat-icon> <a href="tel:+917207367455">+91 720-736-7455</a>
        </p>
        <p>
          <mat-icon>email</mat-icon> <a href="mailto:info@luminatewebsol.com">info&#64;luminatewebsol.com</a>
        </p>
      </div>
      <div class="footer-section">
        <h3>Follow Us</h3>
        <div class="social-icons">
          <a href="https://facebook.com" target="_blank" aria-label="Facebook">
            <img src="./facebook9.svg" alt="Facebook" class="social-icon">
          </a>
          <!-- <a href="https://twitter.com" target="_blank" aria-label="Twitter">
            <img src="./x7.svg" alt="Facebook" class="social-icon">
          </a> -->
          <a href="https://www.linkedin.com/company/luminatewebsol" target="_blank" aria-label="LinkedIn">
            <img src="./linkedin2.svg" alt="Facebook" class="social-icon">
          </a>
          <a href="https://www.instagram.com/luminatewebsol/" target="_blank" aria-label="Instagram">
            <img src="./instagram2.svg" alt="Facebook" class="social-icon">
          </a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="align-copyright">
        <p>© 2024-25 All rights reserved.</p>
      </div>
      <div class="policy-links">
        <a routerLink="/privacy">Privacy Policy</a> |
        <a routerLink="/terms&conditions">Terms & Conditions</a> |
        <a routerLink="/Disclaimer">Disclaimer</a> |
        <a routerLink="/Refund Policy">Refund Policy</a> |
        <a routerLink="/Cancellation Policy">Cancellation Policy</a>
      </div>
    </div>
  </footer>
  
  