<body>
    <div class="container">
        <h1>Refund Policy for luminatewebsol Corporation</h1>
        <p>In line with providing our customers with the best quality and client experience, we have established a considerate cancellation & refund policy.</p>

        <p>We plan each project by dividing work into milestones.</p>

        <p>All projects begin with a complete discovery/analysis and the creation of a scope of work document. This is done to make sure that both parties have a complete understanding of the work required and thus eliminate the potential for project cancellations, reversals, or disputes.</p>

        <p>As there is time spent to achieve every milestone and complete every module, a refund is not possible for work already completed.</p>

        <p>In the event of a project terminated on a mutual basis, the client has control of all completed work and any payment for further development will become void. No previous payment or deposit would be refunded.</p>

        <p>No payment will be refunded once the client approves mock-up designs and we move into the development phase of the project.</p>

        <p>There are no partial refunds for projects mid-way through a milestone phase.</p>

        <p>No cancellations are entertained for services that our marketing team has offered on special occasions. These are limited-time offers and cannot be cancelled.</p>

        <p>Digital marketing and Social media packages are not refundable, but the client may cancel with a notice written 30 days in advance.</p>

        <p>We do not offer refunds on deposits or payments for projects that are abandoned or lay dormant for more than 30 days.</p>

        <h2>Cancellation Policies</h2>
        <p>There will not be any refund given to the client in case of any cancellation of the services.</p>
    </div>
</body>
