/* Basic styling for the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Container to wrap the content */
.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header style */
h1 {
    text-align: center;
    color: #1a73e8;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-top: 20px;
}

/* Paragraph styling */
p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #555;
}

/* Links styling */
a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    /* right: 20px; */
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    animation: float 2s infinite;
  }
  
  .whatsapp-float img {
    width: 35px;
    height: 35px;
  }
  
  .whatsapp-float:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Floating animation */
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }