/* Navbar styles */
.sub-nav{
    background-color: #4682B4;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 200px 0 50px;
}
.mail-phone{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 50px;
}
.mail{
    display: flex;
    align-items: center;
}

.mail p{
    margin-bottom: 1.5%;
}
.phone{
    display: flex;
    align-items: center;
}
.phone p{
    margin-bottom: 1.5%;
}

.navbar {
    height: 80px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
    background-color: #DEEDFA;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-list a.active-link {
    color: #2c578a; /* Highlight color */
    font-weight: bold;
    border-bottom: 2px solid #4682B4; /* Adds a bottom border */
    transition: all 0.3s ease-in-out;
}

/* Logo styles */
.logo img {
    height: 80px;
    transition: all 0.3s ease-in-out;
}

.logo img:hover {
    box-shadow: 0 0 15px 5px #4682B4;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* Navigation list */
.nav-list {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

/* Navigation links */
.nav-list a {
    text-decoration: none;
    color: #4682B4;
    margin-left: 50px;
    font-size: 17px;
    font-weight: 510;
    padding: 5px 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

/* Hover effect for navigation links */
.nav-list a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #4682B4;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.nav-list a:hover {
    color: #2c578a;
}

.nav-list a:hover::after {
    width: 100%;
}

/* Navbar sticky effect */
.navbar.sticky {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
