<div class="sub-nav">
    <div class="mail-phone">
        <div class="mail">
            <mat-icon>email</mat-icon>
            <p><a href="mailto:info@luminatewebsol.com">info&#64;luminatewebsol.com</a></p>
        </div>
        <div class="phone">
            <mat-icon>phone</mat-icon>
            <p><a href="tel:+917207367455">+91 720-736-7455</a></p>
        </div>
    </div>
    <a mat-raised-button color="accent" class="quote-button" routerLink="/quote" routerLinkActive="active-link">
        Get a free Quote
    </a>
</div>

<div class="navbar">
    <div class="logo">
        <a href="./"><img src="./Luminate Web Solutions.svg" alt="Luminate Web Solutions Logo"></a>
    </div>

    <!-- Burger Menu -->
    <div class="burger-menu" (click)="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="nav-list" [ngClass]="{'active': isMenuOpen}">
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/about" routerLinkActive="active-link">About Us</a>
        <div class="dropdown">
            <a routerLink="/solutions" routerLinkActive="active-link">Solutions</a>
            <div class="dropdown-content">
                <div class="dropdown-columns">
                    <div class="dropdown-column">
                        <h3>Digital Marketing</h3>
                        <a routerLink="/solutions" fragment="social-media">Social Media Branding</a>
                        <a routerLink="/solutions" fragment="SEO">Search Engine Optimization</a>
                        <a routerLink="/solutions" fragment="whatsapp">WhatsApp Marketing</a>
                        <a routerLink="/solutions" fragment="online-branding">Online Branding</a>
                    </div>
                    <div class="dropdown-column">
                        <h3>Development</h3>
                        <a routerLink="./solutions" fragment="erp">ERP Software Development</a>
                        <a routerLink="./solutions" fragment="crm">Customer Relationship Management</a>
                        <a routerLink="./solutions" fragment="custom-app">Custom App Development</a>
                        <a routerLink="./solutions" fragment="website">Website Development</a>
                        <a routerLink="./solutions" fragment="maintenance">Website / App Maintenance</a>
                        <a routerLink="./solutions" fragment="cloud">Cloud Solutions</a>
                    </div>
                </div>
            </div>
        </div>
        <a routerLink="/contact" routerLinkActive="active-link">Contact Us</a>
    </div>
</div>
