.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;
}

.animation {
  flex: 1;
  max-width: 530px;
  height: 535px;
}

.contact-container {
  flex: 1;
  max-width: 800px;
}

.contact-header {
  text-align: center;
  margin-bottom: 30px;
}

.contact-header h2 {
  color: #4682B4;
  font-size: 2.5em;
  margin-bottom: 15px;
}

.contact-header p {
  color: #666;
  font-size: 1.1em;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  background: #f2f4f7;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info {
  flex: 1;
  padding-right: 20px;
}

.contact-info h3 {
  color: #4682B4;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info-item mat-icon {
  color: #4682B4;
  margin-right: 10px;
}

.business-hours {
  margin-top: 30px;
}

.business-hours h4 {
  color: #4682B4;
  margin-bottom: 10px;
}

.business-hours p {
  margin-bottom: 5px;
  color: #666;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  width: 100%;
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  outline: none;
  border-color: #4682B4;
}

.message-input {
  min-height: 120px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #4682B4;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button[type="submit"]:hover {
  background-color: #154d7a;
}

@media (max-width: 1200px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .animation, .contact-container {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-info, .contact-form {
    width: 100%;
    padding-right: 0;
  }

  .contact-info {
    margin-bottom: 20px;
  }
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  /* right: 20px; */
  width: 60px;
  height: 60px;
  z-index: 1000;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  animation: float 2s infinite;
}

.whatsapp-float img {
  width: 35px;
  height: 35px;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.footer {
  margin-top: auto; /* add this to make the footer stick to the bottom */
}