.container1 {
    height: 100vh; /* make the container take up the full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* add this to make the footer stick to the bottom */
  }
  
  .footer {
    margin-top: auto; /* add this to make the footer stick to the bottom */
  }
  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    /* right: 20px; */
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    animation: float 2s infinite;
  }
  
  .whatsapp-float img {
    width: 35px;
    height: 35px;
  }
  
  .whatsapp-float:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Floating animation */
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  