.mat-elevation-z8 {
  margin: 20px;
  overflow: auto;
}

.button {
  margin: 20px;
}

table {
  width: 100%;
}

/* .mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
} */

td, th {
  padding: 8px 16px;
}

.mat-column-message {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}



.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.mat-mdc-form-field {
  font-size: 14px;
  flex-grow: 1;
}

.action-section {
  display: flex;
  align-items: center;
}

.action-section button {
  display: flex;
  align-items: center;
  gap: 8px;
}
