/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 36px;
    color: #0073e6;
}

header p {
    font-size: 18px;
    color: #555;
}

h2 {
    color: #0073e6;
    margin-top: 20px;
    font-size: 28px;
}

section {
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #777;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    /* right: 20px; */
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    animation: float 2s infinite;
  }
  
  .whatsapp-float img {
    width: 35px;
    height: 35px;
  }
  
  .whatsapp-float:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Floating animation */
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }