/* You can add global styles to this file, and also import other style files */
/* Reset default margin, padding, and box-sizing */


@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
html, body { height: 100%; }

html {
  scroll-behavior: smooth;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f7f9fc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 150px;
  height: auto;
}

