<app-navbar />
<body>
    <div class="container">
        <header>
            <h1>Terms and Conditions</h1>
            <p>Welcome to Luminate Web Solutions!</p>
        </header>
        <section class="terms">
            <p>Please read these Terms and Conditions carefully as they will form a contract between us and you. Your acceptance of which is agreed from the moment you sign our Website Design Agreement, Website Development Agreement, Digital Marketing Agreement, SEO Agreement, ORM Agreement, or Support Agreement. We have tried to keep these Terms and Conditions brief, easy to understand, and as straightforward as possible. If you have any questions, however, please do not hesitate to contact us.</p>

            <h2>Terms & Conditions</h2>
            <p>These Terms shall apply to all agreements concluded between the Company and the Client to the exclusion of any other terms that the Client seeks to impose or incorporate, or which are implied by trade, custom, practice or course of dealing. These Terms and the Order may only be varied by written agreement between the Company and the Client.</p>

            <h3>License</h3>
            <p>Unless otherwise stated, luminatewebsol Corporation and/or its licensors own the intellectual property rights for all material on luminatewebsol.com. All intellectual property rights are reserved. You may access this from luminatewebsol.com for your own personal use subjected to restrictions set in these terms and conditions.</p>
            
            <p>You must not:</p>
            <ul>
                <li>Republish material from luminatewebsol.com</li>
                <li>Sell, rent, or sub-license material from luminatewebsol.com</li>
                <li>Reproduce, duplicate, or copy material from luminatewebsol.com</li>
                <li>Redistribute content from luminatewebsol.com</li>
            </ul>

            <p>This Agreement shall begin on the date hereof.</p>

            <h3>Comments</h3>
            <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Luminate Web Solutions Corporation does not filter, edit, publish, or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Luminate Web Solutions Corporation, its agents, and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, luminatewebsol Corporation shall not be liable for the Comments or for any liability, damages, or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>

            <p>luminatewebsol Corporation reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive, or causes breach of these Terms and Conditions.</p>

            <h3>Hyperlinking to our Content</h3>
            <p>The following organizations may link to our Website without prior written approval:</p>
            <ul>
                <li>Government agencies;</li>
                <li>Search engines;</li>
                <li>News organizations;</li>
                <li>Online directory distributors;</li>
            </ul>

            <p>We may consider and approve other link requests from the following types of organizations:</p>
            <ul>
                <li>commonly-known consumer and/or business information sources;</li>
                <li>dot.com community sites;</li>
                <li>associations or other groups representing charities;</li>
                <li>online directory distributors;</li>
            </ul>

            <h3>iFrames</h3>
            <p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>

            <h3>Content Liability</h3>
            <p>We shall not be held responsible for any content that appears on your Website. You agree to protect and defend us against all claims that are arising on your Website.</p>

            <h3>Your Privacy</h3>
            <p>Please read our <a routerLink="/privacy">Privacy Policy</a></p>

            <h3>Reservation of Rights</h3>
            <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request.</p>

            <h3>Removal of Links from Our Website</h3>
            <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>

            <h3>Disclaimer</h3>
            <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties, and conditions relating to our website and the use of this website.</p>

            <h3>Pricing Policy</h3>
            <p>Unless otherwise expressly stated, all prices shall be in Indian currency for national transactions. International transactions in USD dollars shall be exclusive of GST and other any other duties that may be applicable.</p>

            <h3>Refund & Cancellation Policies</h3>
            <p>There will not be any refund given to the client in case of any cancellation of the services.</p>

            <h3>Delivery Timeline</h3>
            <p>Any service delivery is as per the agreed proposal.</p>

            <h3>Judiciary Area</h3>
            <p>Subjected to Hyderabad judiciary, Telangana – India.</p>
        </section>
    </div>
    <a href="https://wa.me/917207367455" target="_blank" class="whatsapp-float">
        <img src="./whatsapp.png" alt="WhatsApp">
      </a> 
      <div class="footer">
        <app-footer />
    </div>
</body>

