/* Basic styling for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

header p {
    text-align: center;
    font-size: 18px;
    color: #666;
}

.terms {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}

h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #333;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

ul li {
    margin-bottom: 8px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer section (for linking) */
footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #666;
    background-color: #f1f1f1;
}

footer a {
    color: #007bff;
}
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    /* right: 20px; */
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    animation: float 2s infinite;
  }
  
  .whatsapp-float img {
    width: 35px;
    height: 35px;
  }
  
  .whatsapp-float:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Floating animation */
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }