<app-navbar />
<div class="home-main">

    <div class="home-sub-container">
        <div class="home-sub-container-disc">
            <h2>Elevate Experiences & Satisfaction</h2>
            <h1>Expert Web Development Services for <br> Stunning Online Solutions |<span> Luminate Web
                    Solutions.</span></h1>
            <p>Welcome visitors and briefly introduce your company’s <br> mission and focus on delivering web solutions.
            </p>
        </div>
        <div class="home-sub-container-img">
            <img src="./banner.png" alt="">
        </div>

    </div>
</div>

<div class="line"></div>

<div class="transformative">
    <h2>Inspiring and creating transformative change</h2>
    <p>We offering our clients unlock growth by focusing on three key solution areas:</p>
</div>









<div class="container">
    <!-- Buttons -->
    <div class="hover-btn">
        <button (mouseover)="showContent('digitalMarketing')" class="button">
            Digital Marketing
        </button>
        <button (mouseover)="showContent('webDevelopment')" class="button">
            Development
        </button>
    </div>

    <!-- Containers -->
    <div *ngIf="currentContent === 'digitalMarketing'" class="content-box digital-marketing">

        <div class="marketing-desc">
            <p>We are offering marketing operations services with talent, domain expertise, and platform knowledge.<br>
                We automate processes, optimize personalized campaigns, and swiftly deploy new initiatives.</p>
        </div>
        <div class="marketing-cards">
            <div class="cards">
                <div class="cards-img">
                    <img src="./digital-market.webp" alt="">
                </div>
                <div class="cards-desc">
                    <h2>Digital Marketing Solutions</h2>
                    <p>We define success by your goals, utilizing global technical and creative expertise to achieve
                        remarkable results together.</p>
                </div>
                <div class="cards-btn">
                    <a href="#">Know More</a>
                </div>
            </div>

            <div class="cards">
                <div class="cards-img">
                    <img src="./ads.webp" alt="">
                </div>
                <div class="cards-desc">
                    <h2>Paid Ads Campaigns</h2>
                    <p>Paid advertising is crucial for consumer connection, yet companies struggle to optimize its value
                        effectively in spending.</p>
                </div>
                <div class="cards-btn">
                    <a href="#">Know More</a>
                </div>
            </div>

            <div class="cards">
                <div class="cards-img">
                    <img src="./social-media.webp" alt="">
                </div>
                <div class="cards-desc">
                    <h2>Social Media Branding</h2>
                    <p>We specialize in Brand Strategy & Identity, Brand Activation, and Digital Experiences. As a
                        premier branding agency.</p>
                </div>
                <div class="cards-btn">
                    <a href="#">Know More</a>
                </div>
            </div>

            <div class="cards">
                <div class="cards-img">
                    <img src="./search-engin.jpg" alt="">
                </div>
                <div class="cards-desc">
                    <h2>Search Engine Optimization</h2>
                    <p>Allow the power of keywords, content, and link building help your website be found wherever your
                        audience is searching.</p>
                </div>
                <div class="cards-btn">
                    <a href="#">Know More</a>
                </div>
            </div>

            <div class="cards">
                <div class="cards-img">
                    <img src="./whatsapp-marketing.jpg" alt="">
                </div>
                <div class="cards-desc">
                    <h2>WhatsApp Marketing</h2>
                    <p>Whatsapp marketing is a type of messenger marketing, which implies promoting a brand through
                        WhatsApp.</p>
                </div>
                <div class="cards-btn">
                    <a href="#">Know More</a>
                </div>
            </div>

            <div class="cards">
                <div class="cards-img">
                    <img src="./branding.jpg" alt="">
                </div>
                <div class="cards-desc">
                    <h2>Online Branding</h2>
                    <p>Grow your Brand and reach out to your correct target audience to sell your products/services</p>
                </div>
                <div class="cards-btn">
                    <a href="#">Know More</a>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="currentContent === 'webDevelopment'" class="content-box web-development">

        <div class="marketing-desc">
            <p>With a focus on technology development and innovation, our experienced team of specialists and strategic
                thinkers <br>
                generates and executes ideas with technical expertise and robust support worldwide.</p>
        </div>
        <div class="marketing-cards">
            <div class="cards">
                <div class="cards-img">
                    <img src="./erp.jpg" alt="">
                </div>
                <div class="cards-desc">
                    <h2>ERP Software Development</h2>
                    <p>Seeking a Software development partner for scalable operations and efficient processes. Robust
                        architecture to boost efficiency…</p>
                </div>
                <div class="cards-btn">
                    <a href="#">Know More</a>
                </div>
            </div>

            <div class="cards">
                <div class="cards-img">
                    <img src="./mobile-app.jpg" alt="">
                </div>
                <div class="cards-desc">
                    <h2>Mobile App Development</h2>
                    <p>Affordable Android/iOS app development, driving engagement and customer acquisition with the
                        latest tech stack.</p>
                </div>
                <div class="cards-btn">
                    <a href="#">Know More</a>
                </div>
            </div>

            <div class="cards">
                <div class="cards-img">
                    <img src="./custom-app.webp" alt="">
                </div>
                <div class="cards-desc">
                    <h2>Custom App Development</h2>
                    <p>Creating software applications specifically tailored to meet the unique needs and requirements of
                        a particular organization.</p>
                </div>
                <div class="cards-btn">
                    <a href="#">Know More</a>
                </div>
            </div>

            <div class="cards">
                <div class="cards-img">
                    <img src="./website-deve.jpg" alt="">
                </div>
                <div class="cards-desc">
                    <h2>Website Development</h2>
                    <p>Create an eye-catching website that stands out from the competition. Boost your brand online with
                        custom design services.</p>
                </div>
                <div class="cards-btn">
                    <a href="#">Know More</a>
                </div>
            </div>

            <div class="cards">
                <div class="cards-img">
                    <img src="./maintenance.jpg" alt="">
                </div>
                <div class="cards-desc">
                    <h2>Website / App Maintanance</h2>
                    <p>Your online assets are in safe hands, freeing you from the stress and frustration of
                        self-management. Let’s start now</p>
                </div>
                <div class="cards-btn">
                    <a href="#">Know More</a>
                </div>
            </div>

            <div class="cards">
                <div class="cards-img">
                    <img src="./cloud.webp" alt="">
                </div>
                <div class="cards-desc">
                    <h2>Cloud Solutions</h2>
                    <p>Cloud solutions refer to a variety of services, including storage, computing power, and
                        applications, delivered over the internet from remote servers.</p>
                </div>
                <div class="cards-btn">
                    <a href="#">Know More</a>
                </div>
            </div>
        </div>

    </div>

    <div class="business-reinvent">
        <div class="reinvent-img">
            <img src="./reinvent-business.jpg" alt="">
        </div>
        <div class="reinvent-desc">
            <h3>Reinvent your business</h3>
            <h1>Our Digital Marketing Agency India will Make you Unique!</h1>
            <p>In 2015, Zenoids embarked on a journey with a vision to revolutionize businesses through digital
                transformation. We have earned global recognition for our entrepreneurial expertise and technical acumen
                in the digital industry. With our motto “Be Digital and Do Digital” we assist SMEs in embracing digital
                opportunities and navigating the digital landscape effortlessly.</p>
            <p>The Zenoids Trust forms the bedrock of our foundation, providing SMEs with a stable and sustainable
                platform to start their digital journey without too much of the usual heartache that typically comes
                with it.</p>
            <p>Our global reach allows us to enhance and automate processes using cutting-edge technology. With Zenoids,
                stay ahead by continually upgrading to our superb digital solutions.
            </p>
        </div>
    </div>

</div>