.mat-elevation-z8 {
  margin: 20px;
  overflow: auto;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.mat-mdc-form-field {
  font-size: 14px;
  flex-grow: 1;
}

.action-section {
  display: flex;
  align-items: center;
}

.action-section button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

td, th {
  padding: 8px 16px;
}